.table {
  width: 100%;
  font-family: 'Google-sans';
  border-collapse: collapse;
  height: 100px;
}

.trash img {
  width: 24px;
  height: 24px;
}


.table .cart-th {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  font-size: 16px;
  padding: 0 0.5rem;
  width: 100%;
  margin-bottom: 1rem;
  /* text-align: center; */
}

.table .cart-th p {
  margin-right: 0.75rem;

}

.table .cart-td {
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  font-size: 16px;
  border-bottom: 1px solid rgb(211, 211, 211);
  width: 100%;
}
.table .cart-td p{
  margin-right: 0.75rem;
}
.table img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.table .trash {
  margin-left: 20px;
}

.table button {
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}
