.row{
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: 'Google-sans';
    
}

.row li {
    margin: 0 2rem;
}


@media only screen and (max-width: 600px){
    .row{
      flex-direction: column;

    }
    .row li {
      margin-top: 3rem;
    }
  
  }