.row {
  display: flex;
  width: 100%;
  justify-content: center;
  font-family: 'Google-sans';
  max-width: 1300px;
  align-self: center;
}

.row li {
  margin: 0 2rem;
}

@media only screen and (max-width: 950px) {
  .row {
    flex-direction: column;
  }
  .row li {
    margin: 3rem 0;
  }
}

@media only screen and (max-width: 600px) {
  .row {
    flex-direction: column;
  }
  .row li {
    margin: 3rem 0;
  }
}
