.row {
  display: flex;
  width: 100%;
  justify-content: center;
  font-family: 'Google-sans';
  max-width: 1400px;
  align-self: center;
  flex-wrap: wrap ;

}

@media only screen and (max-width: 950px) {
  .row {
    flex-direction: column;
    /* padding: 0 15%; */
    max-width: 400px;
  }
  
}
