.sidebar {
  display: flex;
  width: 87%;
  margin-left: 3rem;
  align-items: center !important;
  font-family: 'Google-sans';
  font-weight: bold;
  height: 67px;
}

.sidebar .list a { 
    margin-right: 2rem;
    font-size: 14px;
    color: #44533c;
  
  
}

.btn {
  background: none;
  border: none;
  display: none;
  cursor: pointer;
}

@media only screen and (max-width: 1300px) {
  .sidebar{
  margin-left: 0;

  }
  .sidebar .list a {
    /* font-size: 20px; */
    margin-right: 0.75rem;
  }
}

@media only screen and (max-width: 600px) {
  .btn {
    display: flex;
  }
  .list {
    display: none;
  }
  #hidden {
    position: absolute;
    left: 0px;
    top: 50px;
    width: 100%;
    background-color: rgba(82, 121, 77, 0.829);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .list a {
    color: white;
  }
}
