.header{
    display: flex;     
    align-items: center;
    background-color: #f7f7f7;
    padding: 25px 40px;
}

.offer {
  background-color: #44533c;
  color:white;
  text-align: center;
  font-family:'Google-sans';
  padding:0.5rem;
}

.header .navigation{
  display: none;
}

@media only screen and (max-width: 943px) {
    .header{
      flex-direction: column;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .header{
      padding: 25px 10px;
    }
  }
  