.nav {
  display: flex;
  width: 87%;
  margin-left: 3rem;
  align-items: center !important;
  font-family: 'Google-sans';
  font-weight: bold;
  height: 67px;
}

.rightSide {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
}
.rightSide > * {
  margin-right: 1rem;
}

.form {
  display: flex;
  height: 30px;
  border-bottom: 0.5px solid rgb(0, 0, 0);
}

.rightSide button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
.form input {
  border: none;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  color: black;
  font-size: 14px;
}

.form input::placeholder {
  
  color: black;
  font-size: 12px;
}
.form img {
  width: 24px;
  height: 24px;
}

.cart-num {
  display: flex;
  position: relative;
}
.cart-num p {
  position: absolute;
  right: 0;
  transform: translateX(50%);
  transform: translate3d(50%, -20%, 0);
}
.rightSide p {
  background-color: #44533c;
  padding: 1px;
  border-radius: 50%;
  color: white;
  font-weight: 500;
  font-size: 10px;
  height: 16px;
  width: 16px;
  text-align: center;
}

.big,
.menu {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 0.25rem;
  color: black;
}
.big:hover {
  cursor: pointer;
}

@media only screen and (max-width: 943px) {
  .form {
    display: none;
  }
  .list a {
    margin-right: 1rem;
  }
  .nav{
    margin: 0;
    
  }
}

@media only screen and (max-width: 600px) {
  .btn {
    display: flex;
  }

  .nav{
    height: 30px;
  }
  .rightSide{
    height: 30px;
  }
  
}
