@font-face {
  font-family: 'wintersoulregular';
  src: url('./fonts/Wintersoul.ttf');
}
@font-face {
  font-family: 'Valkyrie';
  src: url('./fonts/Valkyrie-BoldExtended.ttf');
}
@font-face {
  font-family: 'Google-sans';
  src: url('./fonts/GoogleSans-Regular.ttf');
}
@font-face {
  font-family: 'Canela';
  src: url('./fonts/Canela-Thin.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Google-sans';
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

