body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
  color: #f7f7f7;

}
.swiper-button-next, .swiper-button-prev{
  margin:20px;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
  color: #f7f7f7;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
  color: #f7f7f7;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
  color: #f7f7f7;
}
.swiper-pagination-bullet ,.swiper-pagination-bullet-active{
  background-color: #f7f7f7 !important;
}